In [ ]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import sys
from os.path import join as oj
sys.path.insert(1, oj(sys.path[0], '..'))  # insert parent path
sys.path.append('../src')
import numpy as np
import data_pecarn, data_psrc
from validate import calc_stats
import pandas as pd
from collections import defaultdict
import matplotlib.pyplot as plt
import itertools

df = pd.read_csv('../data/tbi/TBI PUD 10-08-2013.csv')
df['Age < 2'] = (df['AgeinYears'] < 2).map({True: 'Yes', False: 'No'})
df = df.fillna('Missing')
groups = ['Gender', 'Ethnicity', 'Race']

In [ ]:

vals = ['ActNorm', 'AgeinYears', 'AMSAgitated', 'Drugs', 'IndRqstMD', 'CTSedAge', 'Observed']
# list(sorted(df.columns))

# plt.figure(figsize=(8, 4))
R = len(groups)
C = len(vals)
i = 0
for val in vals:
    # plot barplot of unique values for each group
    for group in groups:
        # plt.subplot(R, C, i + 1)
        d = df.groupby(group)[val].value_counts().unstack(0)
        if val == 'AgeinYears':
            d.plot.barh(figsize=(5, 8.5))
        else:
            d.plot.barh()

        # add text annotation to the right of each bar
        for p in plt.gca().patches:
            plt.gca().annotate(str(int(p.get_width())), (p.get_width() * 1.005, p.get_y() * 1.005))
        plt.legend(loc='center left', bbox_to_anchor=(1.1, 0.5))


        # for p in plt.gca().patches:
            # plt.gca().annotate(str(int(p.get_height())), (p.get_x() * 1.005, p.get_height() * 1.005))

        plt.title(val + ' by ' + group)
        plt.xlabel(val)
        plt.ylabel('Count')
        plt.tight_layout()
        # plt.show()
        i += 1
# plt.show()

# Look at CT scan biases

In [22]:
outs = ['CTDone', 'PosCT']
for out in outs:
    for group in groups:
        # plt.subplot(R, C, i + 1)
        d = df.groupby(group)[out].value_counts().unstack(0) / df.groupby(group)[out].count().round(3)

        display(d.round(3)) #.style.background_gradient(cmap='Blues', axis=1))

Gender    1.0    2.0  Missing
CTDone
0       0.628  0.642    0.667
1       0.372  0.358    0.333

Ethnicity    1.0    2.0  Missing
CTDone
0          0.667  0.655    0.593
1          0.333  0.345    0.407

Race      1.0    2.0    3.0    4.0    5.0   90.0  Missing
CTDone
0       0.574  0.717  0.627  0.469  0.474  0.677    0.613
1       0.426  0.283  0.373  0.531  0.526  0.323    0.387

Gender    1.0    2.0  Missing
PosCT
0       0.344  0.332    0.333
1       0.027  0.026      NaN
92      0.628  0.642    0.667

Ethnicity    1.0    2.0  Missing
PosCT
0          0.312  0.320    0.377
1          0.021  0.025    0.030
92         0.667  0.655    0.593

Race     1.0    2.0    3.0    4.0    5.0   90.0  Missing
PosCT
0      0.394  0.266  0.338  0.500  0.500  0.296    0.350
1      0.032  0.017  0.035  0.031  0.026  0.027    0.036
92     0.574  0.717  0.627  0.469  0.474  0.677    0.613

Gender  1.0  2.0  Missing
count
1       1.0  1.0      1.0

Ethnicity  1.0  2.0  Missing
count
1          1.0  1.0      1.0

Race   1.0  2.0  3.0  4.0  5.0  90.0  Missing
count
1      1.0  1.0  1.0  1.0  1.0   1.0      1.0